
html, body, #map-canvas { 
    height: 100%;
    margin: 0px;
    padding: 0px
}

#start-over-btn:hover {
  /*box-shadow: 10px 10px rgba(0,40,100,.8);*/
  cursor: pointer;
  background-color: rgba(17, 17, 230, .65);
  bottom: 250px; 
  right: 40px;
}

h1 {
  font-size: 32px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  margin: 5px;
}

h2 {
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}

h4 {
  font-size: 15px;
  text-align: center;
  font-weight: 300;
  font-style: italic;
}

#close-btn {
  font-size: 5px;
  font-weight: 100;
  z-index: 1000; 
  position: absolute; 
  bottom: 235px; 
  right: 5px;
}

#start-over-btn {
  color:white;
  font-size: 15px;
  font-weight: 300;
  z-index: 1000; 
  position: absolute; 
  bottom: 250px; 
  background-color: rgba(0, 0, 0, .65);
  right: 40px;
  padding: 5px;
}

#overlay-form {
    position: absolute;
    background-color: rgba(0, 0, 0, .75);
    left: 0px;
    top: 0px;
    width:50%;
    height:50%;
    text-align:center;
    z-index: 1000;
}

#address-form { 
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: #fff;
    padding: 15px;
    z-index:1000;
    background-color: rgba(0, 0, 0, .75);
    color: rgba(255,255,255,.93);
    margin-top: 100px;
    margin-bottom: 300px;
    margin-left: 450px;
    margin-right: 450px;
    text-align:center;
}

.overlay {
    position: absolute;
    padding-bottom:20px;
    background-color: rgba(0, 0, 0, .75);
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
}

.overlay div {
    width:300px;
    margin: 100px auto;
    background-color: #fff;
    border:1px solid #000;
    padding:15px;
}

.hidden {
    visibility: hidden;
}

#legend {
  font-size: 15px;
  font-weight: 300;
  z-index: 1000; 
  position: absolute; 
  bottom: 13px; 
  right: 0px;
  background-color: rgba(255, 255, 255, .80);
  padding:15px;
  right: 5px;
  margin-top: 0px;
  padding-top: 0px;
}

#button-overlay {
  position: absolute; 
  font-size: 25;
  font-weight: 300;
  z-index: 1000; 
  bottom: 219px; 
  right: 5px;
  background-color: rgba(255, 255, 255, .80);
  padding-top:10px;
  padding-bottom:0px;
  padding-left: 25px;
  padding-right:22px;
}